{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center align-items-center ">
	<div class="col-lg-6 ">
		<div class="box-element" id="form-wrapper">
			{% if messages %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{% for message in messages %}{{message}} {% endfor %}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			{% endif %}
		</div>
	</div>
</div>
<div class="row justify-content-center align-items-center ">
	<div class="col-lg-6 ">
		<div class="box-element" id="form-wrapper">
			<form action="{% url 'login' %} " method="post">
				{% csrf_token %}
				<div id="user-info">
					<div class="form-group">
						<input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Username" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="Password" required>
					</div>
				</div>
				<!-- 2 column grid layout for inline styling -->
				<div class="row mb-4">
					<div class="col d-flex justify-content-center">
						<!-- Simple link -->
						<a href="/signup">Sign Up</a>
					</div>

					<div class="col">
						<!-- Simple link -->
						<a href="#!">Forgot password?</a>
					</div>
				</div>
				<hr>
				<input id="form-button" class="btn btn-success btn-block" type="submit" value="Sign In">
			</form>
		</div>

		<br>
	</div>


	{% endblock content %}