{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} ">
{% endblock %}

<section class="contact_section layout_padding">
  <div class="container">

    <div class="heading_container">
      <h2>
        Shipping Information
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
      
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {% for message in messages %}{{message}} {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endif %}
    
        <div class="form_container">
          <form id="form" action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <div>
              <input type="text" name="address" id="address" placeholder="Address.." required />
            </div>
            <div>
              <input type="text" name="mobile" id="mobile" placeholder="Mobile.." required />
              <p id="mobilenum"></p>
            </div>
            <div>
              <input type="text" name="city" id="city" placeholder="City.." required />
            </div>
            <div>
              <input type="text" name="state" id="state" placeholder="State.." required />
            </div>
            <div>
              <input type="text" name="zipcode" id="zipcode" placeholder="Zip code.." required />
            </div>
            <div>
              <input type="text" name="gstin" id="gstin" placeholder="GSTIN.." />
            </div>
            <div>
              <button type="submit" class="btn btn-outline-success btn-block" value="Continue">Continue</button>
            </div>
            <div>
              <button type="submit" name="click" id="click" class="btn btn-outline-success btn-block mt-4" value="Continue">COD</button>
            </div>

          </form>
        </div>

        <br>
      </div>

      <div class="col-lg-6">
        <div class="box-element">
          <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
          <hr>
          <h3>Order Summary</h3>
          <hr>
          {% for item in items %}
          <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
            <div style="flex:2">
              <p>{{ item.product.name }}</p>
            </div>
            <div style="flex:1">
              <p>&#8377; {{ item.product.price|floatformat:2 }}</p>
            </div>
            <div style="flex:1">
              <p>{{ item.quantity }}</p>
            </div>
          </div>
          {% endfor %}
          <h5>Items: {{ order.get_cart_items }}</h5>
          <h5>Total: &#8377; {{ order.get_cart_total|floatformat:2 }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

  var total = '{{order.get_cart_total}}'



  var form = document.getElementById('form')

  // the below code takes the csrftoken generated by the form in incognito mode,
  // and passes it to the backend for processing of payment
  csrftoken = form.getElementsByTagName('input')[0].value
  console.log('NewToken:', form.getElementsByTagName('input')[0].value)

</script>
{% endblock content %}