{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	.img{
		height: 70px;
		width: 70px;
	}
</style>

<section class="contact_section layout_padding">
	<div class="container">
		<div class="heading_container justify-content-center align-items-center">
			<h2>
			Payment Status
			</h2>
		</div>
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-6 ">
				<div class="box-element" id="form-wrapper">
					<img class="rounded mx-auto d-block img" src="{% static 'images/paymnetsuccess.png' %} " alt="">
					<h1 class="text-success text-center">Your COD is successful<h1>
					<a href="/" class="btn btn-outline-danger btn-block">Home</a>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}