{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	 <!-- product section -->

  <section class="product_section ">
    <div class="container">
	<div class="product_heading">
      
      </div>

        <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{{products.imageURL}}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              {{products.name}}
            </h2>
            <p>
              {{products.detail}}
            </p>
<table class="table table-bordered">
				<tr>
					<th>Brand</th>
					<td>{{products.brand}}</td>
				</tr>
				<tr>
					<th>Specification</th>
					<td><pre style="font-family:verdana">{{products.specs}}</pre></td>
				</tr>
			</table>
		</div>
            <div class="detail-box">
              <div class="text ">
                <h5>
                  <span>&#8377;</span> {{products.price}}
                </h5>
              </div>
            </div>
            <div class="btn-box">
            <button data-product="{{products.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart ">
              Add To Cart
            </button>
            <a href="{% url 'cart' %}" class="btn btn-outline-dark ml-5">
              Go to Cart
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

    </div>
  </section>
  <!-- end product section -->

{% endblock content %}