{% extends 'store/main.html' %}
{% load static %}
{% block content %}

  <section class="product_section ">
    <div class="container">
	<div class="product_heading">
<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search results for </span>{{request.GET.q}}</h3>

 </div>
<div class="product_container">
{% if products %}
		{% for product in products %}
		        <div class="box text-center">
          <div class="box-content">
            <a href="{% url 'product_detail' product.slug %}">
            <div class="img-box">
              <img src="{{product.imageURL}}" alt="">
            </div>
            </a>
            <div class="detail-box">
              <div class="text ">
                <h6>
                  {{product.name}}
                </h6>
                <h5>
                  <span>&#8377;</span> {{product.price}}
                </h5>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart ">
              Add To Cart
            </button>
          </div>
        </div>
		{% endfor %}
    {% else %}
    <div class="product_heading">
    <h3 class="my-4 border-bottom pb-1">Item Not Found</h3>
    </div>
    {% endif %}

</div>
	</div>
</section>

{% endblock content %}