{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- slider section -->
<section class="slider_section ">
      <div class="slider_bg_box">
        <img src="{% static 'images/slider-bg.jpg' %}" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Stylish Watches
                    </h1>
                    <div class="btn-box">
                      <a href="{% url 'contact' %}" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

	<!-- service section -->

  <section class="service_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fast Delivery
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Free Shiping
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Best Quality
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24x7 Customer support
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

   <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{% static 'images/a-1.jpg' %}" alt="">
            </div>
            <div class="img-box b2">
              <img src="{% static 'images/a-2.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              About Our Shop
            </h2>
            <p>
              MASTRENA is a leading watch manufacturer in India. The company was founded in the year 2018 Launch progressive collaborations of the DELHI development
              Corporation and the S.G. ENTERPRISES. MASTRENA was the first company in India who introduced Quartz watches in Indian market.Mastrena has a huge range 
              of stylish and economical watches for men and Women.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

	 <!-- product section -->

  <section class="product_section ">
    <div class="container">
	<div class="product_heading">
        <!-- <h2>
          New Arrivals
        </h2> -->
      </div>
      <div class="product_container">

		{% for product in products %}
        <div class="box text-center">
          <div class="box-content">
            <a href="{% url 'product_detail' product.slug %}">
            <div class="img-box">
              <img src="{{product.imageURL}}" alt="">
            </div>
            </a>
            <div class="detail-box">
              <div class="text ">
                <h6>
                  {{product.name}}
                </h6>
                <h5>
                  <span>&#8377;</span> {{product.price}}
                </h5>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart ">
              Add To Cart
            </button>
          </div>
        </div>

		{% endfor %}
      </div>
    </div>
  </section>
  <!-- end product section -->

{% endblock content %}